.search-box {
    width: 500px;
}
.search-header {
    padding: 10px 12px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}
.search {
    width: 500px;
    height: 46px;
    background-color: rgba(22, 24, 35, 0.06);
    align-self: center;
    display: flex;
    align-items: center;
    border-radius: 92px;
    font-size: 1.8rem;
    position: relative;

    input {
        flex: 1;
        background: transparent;
        padding-left: 20px;
        font-size: 1.6rem;
        height: 100%;
        font-family: var(--font-family);
    }

    &:hover {
        outline: 1px solid rgba(22, 24, 35, 0.2);
    }
    &:hover > .btn-search {
        // background-color: rgba(22, 24, 35, 0.03);
        color: black;
    }
    // input:not(:placeholder-shown) ~ .btn-search {
    //     background-color: black;
    // }
}

.clear,
.loading {
    font-size: 1.4rem;
    right: 68px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #a7a7a7;
}

.loading {
    animation: Loading 1s linear infinite;
}

@keyframes Loading {
    to {
        transform: translateY(-50%) rotate(0deg);
    }
    from {
        transform: translateY(-50%) rotate(360deg);
    }
}

.btn-search {
    height: 100%;
    width: 52px;
    font-size: 2rem;
    background-color: transparent;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:hover > svg {
        fill: black;
    }
    &::after {
        content: '';
        position: absolute;
        width: 1px;
        right: 52px;
        height: 28px;
        top: 9px;
        background-color: rgba(22, 24, 35, 0.12);
    }
}
