.wrapper {
    font-weight: 600;
    font-size: 1.6rem;
    min-width: 100px;
    padding: 7px 15px;
    border-radius: 4px;
    line-height: 22px;
    font-family: var(--font-family);
    cursor: pointer;
    background-color: white;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    + .wrapper {
        margin-left: 16px;
    }
}
.rounded {
    padding: 4px 7px;
    color: rgb(116 116 116 / 75%);
    min-width: 90px;
    background: none rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    border-radius: 52px;
    border: 1px solid rgba(22, 24, 35, 0.12);
}

.primary {
    color: white;
    background-color: rgb(254, 44, 85);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}
.outline {
    border-color: rgb(254, 44, 85);
    color: rgb(254, 44, 85);
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.text {
    padding: 6px 12px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    color: black;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.small {
    min-width: 88px;
    padding: 3px 14px;
}
.large {
    min-width: 208px;
    padding: 12px 14px;
}
.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}
.title {
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}
