@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root {
    --primary: #e9304e;
}

button,
input {
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'IBM Plex Sans', SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed; // tối ưu hóa tốc độ hiển thị phông, hiển thị nhanh nhất
}
a[href] {
    // color: #333;
    text-decoration: none;
}
